.DuckCard {
    padding-left: 20%;
}
.cssDuck{
    width: px;
    height: px;
}
.duckPic {
    padding-top: 5%;
    padding: 40%;
    border-style: solid;
}

.chatHistory{
    padding-bottom: 30%;
}